<link href="https://fonts.googleapis.com/css?family=Bungee|Roboto" rel="stylesheet"> 
<img id="matebet" src="\assets\image\index\matebet.jpg">

<div id="betcrypto">
    <h1>Bet</h1>
    <p>To start betting, please <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank">download</a> and run the Metamask browser extension</p>
    <img src="\assets\image\bet\wc.png">
    <button type="button" ng-href="">Bet now</button> 
</div>

<div id="information"  click="displayBet()">
   <section class="grid-info">
    <div class="grid-title">
            <h1>Information</h1>
            <h2><br/>Are you ready for the world cup.</h2>
    </div>
    
    <div class="grid-item">
                <img src="\assets\image\information\simplicity.png">
                <h3>Simplicity</h3>
                <p>User-friendly app, intuitive</p>
    </div>
    
    <div class="grid-item">
        <img src="\assets\image\information\friendly.png">
        <h3>Friendly</h3>
        <p>Easy to bet again friends,send the link and let's play</p>
    </div>
        
    <div class="grid-item">
        <img src="\assets\image\information\shield.png">
        <h3>Safe & transparent</h3>
        <p>Smart Contracts shield funds and bets from manipulation. All transactions are on the blockchain.</p>
    </div>
        
    <div class="grid-item">
        <img src="\assets\image\information\dollars.png">
        <h3>Make money</h3>
        <p>Winners will get their money back plus a chunk of the losing team's pot  that's proportional to the amount each person contributed. </p>
    </div>

    <div class="grid-item">
        <img src="\assets\image\information\ethlogo.png">
        <h3>Powered by Ethereum</h3>
        <p>Why create a currency, when there are powerful currencies and followed by millions of people.</p>
    </div>
    
    <div class="grid-item">
        <img src="\assets\image\information\moreinfo.png">
        <h3>More information</h3>
        <p>More information about bet and us.</p>
    </div>
</section>
</div> 

<div id="aboutus">
    <h1>About US</h1>

    <p class="question"> What is this?</p>
    <p class="answer"> It's a new way to use your crypto-currency. </p> 

    <p class="question"> Is it safe? Why should I trust you? </p>
    <p class="answer">It's 100% secure. You can read the smart contract code. This is the power of ethereum. </p> 

    <p class="question"> How much ETH can I win? </p>
    <p class="answer"> Winners will get their money back plus a chunk of the losing team's pot (minus our 8% commission) that's proportional to the amount each person contributed. The site will display your expected payout. </p> 
    
    <p class="question"> Can I bet multiple times? How about for both teams?</p>
    <p class="answer"> You can place your bet as you want. </p> 

    <p class="question"> When does the betting close? </p>
    <p class="answer">  The betting will close at 6:29pm EST on Sunday Feb. 4th, 1 minute before the game starts. </p> 
   
    <p class="question"> When will winners be paid out? </p>
    <p class="answer"> Winners will be paid out as soon as the winner is available on Wolfram Alpha. </p> 
    
    <p class="question"> Can our money get stuck in here? </p>
    <p class="answer"> No, if a problem happened, you have your currency back. </p> 
    
    <p class="question"> How is the game result communicated? </p>
    <p class="answer">  We don't decide the winner, Wolfram Alpha does. We are using Oraclize.it to communicate the game results with the smart contract, with a Wolfram Alpha query for "Super Bowl LII Winner". See the smart contract. </p> 
   
    <p class="question"> How are you guys making money? </p>
    <p class="answer"> It costs nothing to place a bet. We will be taking a 8% commission from the prize pool. </p> 
    
</div>